.boxes {
  display: grid;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(8, 80px);
  grid-gap: 1px;
}

.box {
  background-color: green;
}

.black-stone::after ,
.white-stone::after {
  content: '';
  display: block;
  height: 80%;
  width: 80%;
  margin: 10%;
  border-radius: 50%;
  justify-content: center;
}


.black-stone::after {
  background-color: black;
}


.white-stone::after {
  background-color: white;
}

.hidden {
  display: none;
}
