.boxes {
  display: grid;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(8, 80px);
  grid-gap: 1px;
}

.box {
  background-color: green;
}

.B::after ,
.W::after {
  content: '';
  display: block;
  height: 80%;
  width: 80%;
  margin: 10%;
  border-radius: 50%;
  justify-content: center;
}


.B::after {
  background-color: black;
}


.W::after {
  background-color: white;
}

.hidden {
  display: none;
}

.canPut {
  background-color: red;
}

.player1, .player2{
  color: red;
}
